.env
__pycache__/
*.egg-info/
*.pyc
.pytest_cache/

.venv/
dist/
build/
.coverage
htmlcov/

poetry.lock

# I decided to commit these for easier replication


# new_york_corpus.json
# nyc_rag_evaluation_results.json